html {
	color: #222;
	font-size: 1em;
	line-height: 1.4;
} 

h1 {font: 20px sans-serif}

/* For d3 labels*/

.label {
  fill: white;
}

.labeltext  {
  fill: black;
  font: 12px sans-serif;
  text-anchor: left;
}

/* For d3 bar charts*/
  

.bar.positive {
  fill: orange;
}

.bar.positive:hover {
  fill: darkorange ;
}

.bar.negative {
  fill: gray;
}

.bar.negative:hover {
  fill: darkgray ;
}



.districts2 {
  fill: orange;
  border-style: solid;
  border-width: 10px;
}

.districts2:hover {
  fill: darkorange;
  border-style: solid;
  border-width: 10px;
}

.bayarea_projundefined {
  fill: lightgray;
}

.streets_project {
  fill: gray;

}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.ylabel text {
  font: 10px sans-serif;
}

.ylabel path,
.ylabel line {
  fill: transparent;
  shape-rendering: transparent;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  font: 12px sans-serif;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}